* {
  margin: 0;
  padding: 0;
}
.lista-botones-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton-menu {
  background-color: #fff;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  padding: 25px 0 25px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-width: 80%;
  max-width: 85%;
  border-color: white;
  box-shadow: 4px 2px 5px #888888;
}

.boton-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.fa-solid{
  color: #6c1313;
}
