*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    width: 100%;
    margin: 0;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid #6c1313;
    position: sticky;
    top: 0;
    background-color: #6c1313;
}

ul a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-size: .9em;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2px;
    font-weight: 900;
    color: #000;
    color: #fff;
    background-color: #6c1313;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul a:hover{
    background-color: #bf8f8f
}

#back{
    color: #fff;
}

ul a.activo{
    background-color: #a22020


}